{
    "host"   : "myredminesite.company.com",
    "port"   : 443  ,
    "url"    : "/<path_to_redmine_page>/",
    "cache_folder" : "cache/",
    "projects:" : "comma,separated,list,of,redmine,projets,to,monitor",
    "ignore_tracker": "task",
    "eta_expected" : "2012-11-30"
    "username": "myusername"
    "password": "password"
}

