doctype html
html(lang="FR-fr")
    head
        title Kanban Dashboard

        // script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(type="text/javascript",src="/kanban/jquery/dist/jquery.min.js")
        script(type="text/javascript",src="/kanban/dynatree/jquery/jquery-ui.custom.js" )
        script(type="text/javascript",src="/kanban/dynatree/jquery/jquery.cookie.js")
        script(type="text/javascript",src="/kanban/dynatree/src/jquery.dynatree.js")
        link(rel='stylesheet',type='text/css',href="/kanban/dynatree/src/skin/ui.dynatree.css")

    body(ng-app="kanbanApp")
        .container
            .main-content
                block content
