extends layout2
block content


    ul
        li
            a(href="/kanban/dashboard") Courbes de flux
        li
            a(href="/kanban/requirement_matrix") Requirements
        li
            a(href="/kanban/requirement_matrix_by_use_case") Requirement by use cases
        li
            a(href="/kanban/refresh") refresh

        li
            a(href="/kanban/export.csv") Matrix des exigences au format CSV

