extends layout2
block content

    h1(translate) Requirement Matrix

    div(ng-controller="RequirementMatrixController",ng-init)
        table
            tr
                td(translate) Total score
                td {{project.requirements_statistics.total_score}}
            tr
                td(translate) percent done
                td {{project.requirements_statistics.covered_percent}}  %

        hr

        pagination.pagination-sm(max-size="7",boundary-links="true",total-items="project._requirements.length",items-per-page="itemsPerPage",ng-model="currentPage",ng-change="pageChanged()")

        div(ng-repeat="requirement in visible_requirements")
            div.panel.panel-success(ng-class="{ 'panel-success' : (requirement.statistics.covered_percent>0) , 'panel-error': (requirement.statistics.nb_user_stories===0) }")
                div.panel-heading
                    h3.panel-title.panel-success
                        span(translate) Requirement
                        a(ng-href="{{project.issue_url(requirement.id)}}") \#{{requirement.id}}
                        small &nbsp - &nbsp   {{requirement.subject}}
                        span.badge.pull-right {{requirement.statistics.nb_user_stories}}
                div.panel-body
                    div.row(ng-hide="(requirement.extra_user_stories.length + requirement.use_case_details.length)==0")
                        div.col-sm-2(translate) progress
                        div.col-sm-9
                            div.progress
                                div.progress-bar(ng-style="{ 'width': '' + requirement.statistics.covered_percent + '%' }")
                                    span.sr-only {{requirement.statistics.covered_percent }} % Complete
                    div.row
                        div.col-sm-3
                            table.table-bordered(ng-hide  ="(requirement.extra_user_stories.length + requirement.use_case_details.length)==0")
                              tr
                                    td(translate) percent
                                    td.text-right {{requirement.statistics.covered_percent }} %
                              tr
                                    td(translate) use cases
                                    td.text-right {{requirement.statistics.nb_use_cases}}
                              tr
                                    td(translate) uncovered use cases
                                    td.text-right {{requirement.statistics.nb_uncovered_use_cases}}
                              tr
                                    td(translate) user stories
                                    td.text-right {{requirement.statistics.nb_user_stories}}
                              tr
                                    td(translate) completed user stories
                                    td.text-right {{requirement.statistics.nb_user_stories_done}}
                              tr
                                    td(translate) orphan user stories
                                    td.text-right {{requirement.extra_user_stories.length}}

                        div.col-sm-9

                            span.alert.alert-warning(translate,ng-show  ="(requirement.extra_user_stories.length + requirement.use_case_details.length)==0").
                                                      There is no use case and user stories associated with this requirement
                            accordion(close-others="false",ng-show="requirement.extra_user_stories.length")
                                accordion-group(is-open="true")
                                    accordion-heading
                                       p()   Orphan User stories.
                                    ul.list-group
                                            li.list-group-item.alert.alert-warning(ng-repeat="us in requirement.extra_user_stories")
                                                a(ng-href="{{project.issue_url(us.id)}}") {{us.id}}
                                                span - {{us.percent_done()}} - {{us.subject}}
                                                span.pull-right.glyphicon.glyphicon-user

                                accordion-group(ng-repeat="detail in requirement.use_case_details",is-open="true")
                                    accordion-heading
                                        a(ng-href="{{project.issue_url(detail.use_case.id)}}") {{detail.use_case.id}}
                                        span - {{detail.use_case.percent_done()}} - {{detail.use_case.subject}}
                                        span.pull-right.glyphicon.glyphicon-bullhorn
                                        span.badge {{detail.user_stories.length}}

                                    span(translate,ng-hide="detail.user_stories.length").alert.alert-warning.
                                            There is no user stories implementing {{requirement.subject}} in this use case

                                    ul.list-group(ng-show="detail.user_stories.length")
                                        li.list-group-item.alert.alert-warning(ng-repeat="us in detail.user_stories")
                                            a(ng-href="{{project.issue_url(us.id)}}") {{us.id}}
                                            span - {{us.percent_done()}} - {{us.subject}}
                                            span.pull-right.glyphicon.glyphicon-user

        pagination.pagination-sm(max-size="7",boundary-links="true",total-items="project._requirements.length",items-per-page="itemsPerPage",ng-model="currentPage",ng-change="pageChanged()")

    // tooltip.small() Orphan user stories are associated with the requirement but are not linked to one of the use cases of this requirement.

    script(src="/kanban/angular/angular.js")
    script(src="/kanban/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/kanban/angular-google-chart/ng-google-chart.js")
    script(src="/kanban/angular-bootstrap-grid-tree/src/tree-grid-directive.js")
    script(src="/kanban/angular-gettext/dist/angular-gettext.js")
    script(src="/kanban/javascript/requirement_matrix.bundle.js")
    script(src="/kanban/javascript/translations.js")
    link(rel="stylesheet",type='text/css',href="/kanban/bootstrap/dist/css/bootstrap.css")
