extends layout2


block content

    div(ng-controller="MyAppController",ng-init)
        div(ng-show="showMinDir")

        br
        tree-grid(tree-data="tree_data")


    script(src="/kanban/angular/angular.js")
    script(src="/kanban/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/kanban/angular-bootstrap-grid-tree/src/tree-grid-directive.js")
    script(src="/kanban/redmine-kanban-core/redmine-kanban-core.bundle.js")
    script(src="/kanban/javascript/use_cases2.bundle.js")
    link(rel="stylesheet",type='text/css',href="/kanban/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet",type='text/css',href="/kanban/angular-bootstrap-grid-tree/src/treeGrid.css")
